body{
	font-family: 'Raleway', sans-serif;
}
h2{
	font-family: 'Marcellus SC', serif; 
	font-size: 26px;
}
header{
			font-family: 'Marcellus SC', serif; 
			width: 100%;
			background: #CF0E16;
			height: 50px;
			color: #F0F0F0;
			line-height: 50px;
			overflow: hidden;
			
		}
		header h1{
			text-align: center;
			font-family: 'Marcellus SC', serif; 
			color: white;
			font-size: 45px;
		}
		header div div div.hdr-containerflex{
			display: flex;
			justify-content: center;
			align-content: center;		}
		header div div div i.hdr-flexitem{
			font-size: 40px; 
			line-height: 50px;
		}
		

		@media only screen and (max-width: 450px){
			header h1{
				font-size: 25px;
				line-height: 50px;
			}
			header div div div i.hdr-flexitem{
				font-size: 25px;
				line-height: 50px;
			}
			header div div div div.hdr-bigscr{
				display: none;
			}
		}
		@media only screen and (max-width: 950px) and (min-width: 451px){
			header h1{
				font-size: 35px;
				line-height: 50px;
			}
			header div div div i.hdr-flexitem{
				font-size: 35px;
				line-height: 50px;
			}
			header div div div div.hdr-bigscr{
				display: none;
			}
		}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}
section{
	background: white;
	height: auto;
}
.optboxs{
	background: #E57373;
	color: #3c3c3c;
	font-family: 'Marcellus SC', serif;
	size: 22px;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	width: 100%;
	height: auto;
	padding: 10px;
}
.madafkr{
	padding: 10px;
	
}
#grandmafkr{
	padding: 15px;
	height: 50%;
}
.imgttt{
	background: white;
	height: auto;
}
.textdivaa{
	padding: 15px;
}