html{
	height: 100%;
	background-image: url("../../img/background.jpg");
	background-repeat: repeat;
}
body{
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	background: transparent;
}
h2{
	font-family: 'Marcellus SC', serif; 
	font-size: 26px;
}
.btn-success{
	background: #CF0E16; 
	border-color: #CF0E16; 
	color: white;
	float: right;
	margin-left: 10px;
}
.btn-successrow{
	background: #CF0E16; 
	border-color: #CF0E16; 
	color: white;
}
.btnright{
	float: right;
}
header{
			font-family: 'Marcellus SC', serif; 
			width: 100%;
			background: #CF0E16;
			height: 50px;
			color: #F0F0F0;
			line-height: 50px;
			overflow: hidden;
			
		}
header h1{
			text-align: center;
			font-family: 'Marcellus SC', serif; 
			color: white;
			font-size: 45px;
		}
header div div div.hdr-containerflex{
			display: flex;
			justify-content: center;
			align-content: center;		}
header div div div i.hdr-flexitem{
			font-size: 40px; 
			line-height: 50px;
		}
		


a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}
section{

	height: 100%;
	width: 100%-50px;
}
.optboxs{
	background: white;
	color: #CF0E16;
	font-family: 'Marcellus SC', serif;
	size: 22px;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	width: 100%;
	height: auto;
	padding: 10px;
}
.madafkr{
	padding: 10px;
	
}
#grandmafkr{
	padding: 15px;
	height: 50%;
}
.imgttt{
	background: white;
	height: auto;
}
.textdivaa{
	padding: 15px;
}
.shdr{
	height: 40px; 
	width: 100%; 
	background: white; 
	margin-left: 0px; 
	margin-right: 0px; 
	line-height: 40px; 
	font-size: 30px; 
	color: #3c3c3c; 
	font-family: 'Raleway', sans-serif;
	color: black;
	}
hr{
	display: block;
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-bottom-color: black;
    border-right: none;
    border-style: solid;
    border-width: 0.5px;
}

@media only screen and (max-width: 330px){
			header h1{
				font-size: 18px;
				line-height: 50px;
			}
			header div div div i.hdr-flexitem{
				font-size: 18px;
				line-height: 50px;
			}
			header div div div div.hdr-bigscr{
				display: none;
			}
			.shdr{
				font-size: 14px;
			}
			
			.dependblank{
				display: none;
			}
			.quitarpadding{
				padding-right: 0px;
				padding-left: 0px;
			}
		}@media only screen and (max-width: 450px) and (min-width: 331px){
			header h1{
				font-size: 25px;
				line-height: 50px;
			}
			header div div div i.hdr-flexitem{
				font-size: 25px;
				line-height: 50px;
			}
			header div div div div.hdr-bigscr{
				display: none;
			}
			.shdr{
				font-size: 14px;
			}
			
			.dependblank{
				display: none;
			}
			.quitarpadding{
				padding-right: 0px;
				padding-left: 0px;
			}
		}
		@media only screen and (max-width: 950px) and (min-width: 451px){
			header h1{
				font-size: 35px;
				line-height: 50px;
			}
			header div div div i.hdr-flexitem{
				font-size: 35px;
				line-height: 50px;
			}
			header div div div div.hdr-bigscr{
				display: none;
			}
			.shdr{
				font-size: 20px;
			}
		}

nav{
	width: 100%;
	background: #F0F0F0;
	margin: 0px;
	padding: 0px;
}
.txtblack{
	color: black;
}
.txtblack:hover{
	color: black;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none; 
}
li{
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	list-style: none;
}
